---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Hero from '../components/Hero.astro';
import BioSection from '../components/BioSection.astro';
import Marquee from '../components/Marquee.astro';
---

<Layout title="Welcome to Astro.">
  <div aria-hidden="true" class="absolute inset-0 -z-10 bg-texture bg-cover bg-fixed before:absolute before:inset-0 before:bg-black/[0.7]"></div>
  <main>
    <Banner />
    <Hero />
    <BioSection />
    <Marquee />
  </main>
</Layout>
