---
import SanityBlocks from './SanityBlocks.astro';
import type { Block } from '@sanity/types';

export interface Props {
  document: AboutDocument;
}

export type AboutDocument = {
  _createdAt: string,
  _id: string,
  _rev: string,
  _type: string,
  _updatedAt: string,
  content1: Block[],
  content2: Block[],
  content3: Block[],
}

const { document } = Astro.props;
---

<section aria-labelledby="about-heading" class="px-4 py-24 lg:py-64 overflow-x-hidden">
  <h2 id="about-heading" class="sr-only">About</h2>
  <div class="relative font-bold md:text-2xl">
    <div aria-hidden="true" class="absolute top-36 -left-24 w-72 h-72 bg-orange/30 blur-[100px] pointer-events-none lg:-top-64 lg:w-[700px] lg:h-[700px] lg:blur-[200px]"></div>
    <div aria-hidden="true" class="absolute bottom-12 -right-24 w-72 h-72 bg-orange/30 blur-[100px] pointer-events-none lg:-bottom-64 lg:right:0 lg:left-[50vw] lg:w-[700px] lg:h-[700px] lg:blur-[200px]"></div>
    <div data-gsap="about-paragraph" class="flex flex-col gap-8 md:px-12 lg:px-0 lg:max-w-[40ch] lg:ml-[25vw]">
      <SanityBlocks blocks={document.content1} />
    </div>
    <div data-gsap="about-paragraph" class="flex flex-col gap-8 md:px-12 lg:px-0 mt-8 lg:max-w-[30ch] lg:ml-[50vw] lg:mt-48">
      <SanityBlocks blocks={document.content2} />
    </div>
    <img src="/assets/mic.jpg" alt="Studio microphone" class="my-16 w-full max-w-4xl -z-10 lg:absolute lg:left-[calc(40vw_-_500px)] lg:top-16 lg:m-0">
    <div data-gsap="about-paragraph" class="flex flex-col gap-8 text-2xl leading-normal md:px-12 lg:px-0 lg:max-w-[27ch] lg:text-5xl lg:leading-normal lg:gap-16 lg:ml-[calc(20vw_-_200px)] lg:mt-[350px]">
      <SanityBlocks blocks={document.content3} />
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  gsap.utils.toArray('[data-gsap="about-paragraph"]').forEach((element, index) => {
    gsap.matchMedia().add('(min-width: 768px)', () => {
      gsap.to(element as gsap.DOMTarget, {
        y: (index + 1) * -100,
        scrollTrigger: {
          trigger: element as gsap.DOMTarget,
          scrub: true,
        },
      });
    });

    gsap.from(element as gsap.DOMTarget, {
      opacity: 0,
      filter: 'blur(30px)',
      scrollTrigger: {
        trigger: element as gsap.DOMTarget,
        end: 'top 66%',
        scrub: true,
      },
    });
  });
</script>
