<section class="px-4 py-24 lg:py-64 overflow-x-hidden">
  <div class="relative font-bold md:text-2xl">
    <div aria-hidden="true" class="absolute top-36 -left-24 w-72 h-72 bg-orange/30 blur-[100px] lg:-top-64 lg:w-[700px] lg:h-[700px] lg:blur-[200px]"></div>
    <div aria-hidden="true" class="absolute bottom-12 -right-24 w-72 h-72 bg-orange/30 blur-[100px] lg:-bottom-64 lg:right:0 lg:left-[50vw] lg:w-[700px] lg:h-[700px] lg:blur-[200px]"></div>
    <p class="lg:max-w-[40ch] lg:ml-[25vw]">“I started writing rhymes at the age of twelve. School was a real struggle at the time and I was bullied pretty bad, so like many others, music was a perfect way for me to vent.”</p>
    <p class="mt-8 lg:max-w-[30ch] lg:ml-[50vw] lg:mt-48">“Years went by and eventually I started to develop a sense of rhythm, along with a taste of complex rhyme patterns and lyrical structure.” Essential components of rap. Only thing missing was a microphone.</p>
    <img src="/assets/mic.jpg" alt="Studio microphone" class="my-16 w-full max-w-4xl -z-10 lg:absolute lg:left-[calc(40vw_-_500px)] lg:top-16 lg:m-0">
    <p class="text-2xl leading-normal lg:max-w-[27ch] lg:text-5xl lg:leading-normal lg:ml-[calc(20vw_-_200px)] lg:mt-[350px]"><span class="text-orange font-extrabold">“I rarely have boundaries</span> when it comes to writing bold lyrics; I use whatever words necessary to express my thoughts.”</p>
  </div>
</section>
