---
import Icon from '../components/Icon.astro';
import type { Block } from '@sanity/types';

export interface Props {
  blocks: Block[];
  url?: string;
}

const { blocks, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="flex gap-2 items-center justify-between px-4 py-6 uppercase border-b border-white/30 backdrop-blur-2xl group transition-colors hover:text-orange md:h-16 md:justify-center"
>
  {blocks[0].children.map((span) => (
    <span class={span.marks.includes('strong') ? 'font-extrabold' : 'font-bold'}>{span.text}</span>
  ))}
  <span class="text-white/50 transition-colors group-hover:text-orange">
    <Icon name="northEast" />
  </span>
</a>
