---
import Icon from '../components/Icon';
import SanityBlocks from './SanityBlocks.astro';
import type { Block } from '@sanity/types';

export interface Props {
  blocks: Block[];
  url?: string;
}

const { blocks, url } = Astro.props;

const hasUrl = url !== undefined && url.length > 0;
---

<header>
  <a
    href={url}
    target="_blank"
    class={`flex gap-2 items-center justify-between px-4 py-6 uppercase border-b border-white/30 backdrop-blur-2xl transition-colors md:h-16 md:justify-center ${hasUrl ? 'group hover:text-orange' : ''}`}
  >
    <div class={!hasUrl ? 'w-full text-center' : ''}>
      <SanityBlocks blocks={blocks} />
    </div>
    {hasUrl && <span class="text-white/50 transition-colors group-hover:text-orange">
      <Icon name="northEast" />
    </span>}
  </a>
</header>
