---
import Icon from '../components/Icon.astro';
---

<a
  href="https://google.com"
  target="_blank"
  class="flex gap-2 items-center justify-between px-4 py-6 border-b border-white/30 backdrop-blur-2xl md:h-16 md:justify-center"
>
  <p class="font-bold uppercase">
    <span class="font-extrabold">Help</span> is out now on streaming services
  </p>
  <span class="text-white/50">
    <Icon name="northEast" />
  </span>
</a>
