<section class="px-4 py-24 md:px-32 lg:py-64">
  <div class="max-w-[32ch] flex flex-col gap-8 text-2xl font-bold lg:text-5xl lg:gap-16">
    <p>Billis is a <span class="text-orange font-extrabold">rapper and producer from northern Sweden.</span></p>
    <p>In March 2018, he became one of the 3 finalists in both Malmö and Stockholm at the <span class="text-orange font-extrabold">European Undercover Idol contest</span> founded by American rapper Hopsin.</p>
  </div>
</section>
