---
import SanityBlocks from './SanityBlocks.astro';
import type { Block } from '@sanity/types';

export interface Props {
  blocks: Block[];
}

const { blocks } = Astro.props;
---

<section class="px-4 py-24 md:px-16 lg:px-32 lg:py-64">
  <div class="max-w-[32ch] flex flex-col gap-8 text-2xl font-bold lg:text-5xl lg:gap-16">
    <SanityBlocks blocks={blocks} />
  </div>
</section>
