---
import HugeLink from "./HugeLink.astro";
---

<footer class="bg-black font-bold px-4 pt-24 pb-16 md:px-16 lg:pt-64">
  <div class="flex flex-col gap-12 lg:flex-row">
    <div class="flex flex-col gap-2 lg:flex-1">
      <h3 class="uppercase text-white/50">Listen</h3>
      <HugeLink text="Spotify" href="#" />
      <HugeLink text="Apple Music" href="#" />
      <HugeLink text="Other" href="#" />
    </div>
    <div class="flex flex-col gap-2 lg:flex-1">
      <h3 class="uppercase text-white/50">Socials</h3>
      <HugeLink text="Instagram" href="#" />
      <HugeLink text="Art IG" href="#" />
      <HugeLink text="Facebook" href="#" />
    </div>
  </div>
  <div class="flex flex-col gap-12 mt-12 lg:mt-16 lg:flex-row-reverse">
    <div class="flex flex-col gap-2 lg:flex-1">
      <h3 class="uppercase text-white/50">Business inquiries</h3>
      <a class="text-2xl font-bold" href="mailto:contact@billismusic.com">contact@billismusic.com</a>
    </div>
    <div class="flex flex-col gap-2 lg:flex-1">
      <h3 class="uppercase text-white/50">© 2022 Billis</h3>
      <p class="text-white/50">Website by <a href="https://marcusbillman.com" class="underline underline-offset-4">Marcus Billman</a></p>
    </div>
  </div>
</footer>
