<section
  class="relative h-screen max-h-[800px] bg-[url('/assets/bg-hero.jpg')] bg-cover bg-[top_left_30%] bg-no-repeat border-b border-white/30 overflow-hidden md:bg-[top_center]"
>
  <h1
    class="absolute bottom-32 flex gap-8 px-4 text-6xl font-extrabold md:text-[200px] animate-marquee-fast md:bottom-8"
  >
    <span class="text-outline-white">BILLIS</span>
    <span aria-hidden="true">BILLIS</span>
    <span aria-hidden="true" class="text-outline-white">BILLIS</span>
    <span aria-hidden="true">BILLIS</span>
    <span aria-hidden="true" class="text-outline-white">BILLIS</span>
    <span aria-hidden="true">BILLIS</span>
    <span aria-hidden="true" class="text-outline-white">BILLIS</span>
    <span aria-hidden="true">BILLIS</span>
  </h1>
</section>
