<section
  id="hero-section"
  class="invisible relative h-[80vh] bg-[url('/assets/bg-hero.jpg')] bg-cover bg-[top_left_30%] bg-no-repeat border-b border-white/30 overflow-hidden md:bg-[top_center]"
>
  <h1
    class="absolute bottom-32 text-6xl font-extrabold md:text-[200px] md:bottom-8 motion-safe:invisible"
  >
    <span class="flex gap-8 px-4 motion-safe:animate-marquee-fast">
      <span class="text-outline-white">BILLIS</span>
      <span aria-hidden="true">BILLIS</span>
      <span aria-hidden="true" class="text-outline-white">BILLIS</span>
      <span aria-hidden="true">BILLIS</span>
      <span aria-hidden="true" class="text-outline-white">BILLIS</span>
      <span aria-hidden="true">BILLIS</span>
      <span aria-hidden="true" class="text-outline-white">BILLIS</span>
      <span aria-hidden="true">BILLIS</span>
    </span>
  </h1>
</section>

<script>
  import { gsap } from "gsap";

  gsap.from('#hero-section', {
    autoAlpha: 0,
    duration: 1.5,
    filter: 'blur(50px)',
  });

  gsap.matchMedia().add('(prefers-reduced-motion: no-preference)', () => {
    gsap.from('#hero-section h1', {
    yPercent: 200,
    autoAlpha: 0,
    duration: 1,
    delay: 0.3,
    ease: 'power1.out',
  });
  });
</script>
