---
import Button from "./Button.astro";
import type { InstagramPost as InstagramPostType } from "../utilities/instagram";
import InstagramPost from "./InstagramPost.astro";

export interface Props {
  posts: InstagramPostType[];
}

const { posts } = Astro.props;
---

<section class="px-4 py-24 lg:py-64">
  <ul class="flex gap-8 overflow-x-scroll scrollbar-thumb-white/30 scrollbar-track-black/50 pb-4 mb-16 hover:scrollbar-thumb-white/50 md:scrollbar-thin lg:gap-16 lg:pb-8 lg:mb-32">
    <!-- TODO: Custom scrollbar, fade items near viewport edge -->
    {posts.map((post) => (
      <li class="w-64 max-w-[80%] flex-shrink-0 lg:w-96">
        <InstagramPost post={post} />
      </li>
    ))}
  </ul>
  <div class="flex flex-col gap-8 lg:flex-row lg:gap-16 lg:justify-center">
    <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
      <p class="font-bold uppercase">Official posts</p>
      <Button text="@billismusic" href="https://www.instagram.com/billismusic" />
    </div>
    <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
      <p class="font-bold uppercase">Abstract art</p>
      <Button text="@uniqueabstracts" href="https://www.instagram.com/uniqueabstracts" />
    </div>
  </div>
</section>
