---
import Icon from "./Icon.astro";
---

<div class="fixed bottom-0 left-0 right-0 h-16 backdrop-blur-2xl border-t border-white/30 z-30 lg:static lg:top-0 lg:right-auto lg:w-16 lg:h-auto lg:border-r lg:border-t-0">
  <nav class="lg:sticky lg:top-0 lg:h-screen flex lg:flex-col">
    <a href="#" class="bg-logo bg-no-repeat bg-center bg-[length:29px] w-16 h-16 border-r border-white/30 lg:border-b lg:border-r-0"></a>
    <ul class="flex items-center justify-center gap-6 lg:gap-8 flex-1 h-16 px-4 text-white/50 lg:flex-col">
      <a href="#">
        <Icon name="spotify" />
      </a>
      <a href="#">
        <Icon name="appleMusic" />
      </a>
      <a href="#">
        <Icon name="youtube" />
      </a>
      <a href="#">
        <Icon name="instagram" />
      </a>
      <a href="#">
        <Icon name="facebook" />
      </a>
    </ul>
  </nav>
</div>
