---
import Release from "./Release.astro";
---

<section class="px-4 py-24 bg-black lg:py-64">
  <ul class="grid gap-16 md:grid-cols-2 xl:grid-cols-3 xl:gap-x-8 xl:gap-y-32">
    <li class="xl:col-span-full">
      <Release featured={true} />
    </li>
    <li>
      <Release />
    </li>
    <li>
      <Release />
    </li>
    <li>
      <Release />
    </li>
  </ul>
</section>
