---
import Release, { ReleaseDocument } from "./Release.astro";
import type { SanityDocument } from "@sanity/client";

export interface Props {
  releases: SanityDocument[];
}

const { releases } = Astro.props;
---

<section class="px-4 py-24 bg-black lg:py-64">
  <ul class="grid gap-16 md:grid-cols-2 xl:grid-cols-3 xl:gap-x-8 xl:gap-y-32">
    {releases.map((release, index) => (
      <li class={index === 0 ? 'xl:col-span-full' : ''}>
        <Release release={release as ReleaseDocument} featured={index === 0} />
      </li>
    ))}
  </ul>
</section>
