---
import Release, { ReleaseDocument } from "./Release.astro";
import type { SanityDocument } from "@sanity/client";

export interface Props {
  releases: SanityDocument[];
}

const { releases } = Astro.props;
---

<section aria-labelledby="releases-heading" class="px-4 py-24 bg-black lg:px-16 lg:py-64">
  <h2 id="releases-heading" class="sr-only">Releases</h2>
  <ul class="grid gap-16 perspective md:grid-cols-2 xl:gap-x-8 xl:gap-y-32 2xl:grid-cols-3">
    {releases.map((release, index) => (
      <li data-gsap="release" class={`origin-bottom ${index === 0 ? 'xl:col-span-full' : ''}`}>
        <Release release={release as ReleaseDocument} featured={index === 0} />
      </li>
    ))}
  </ul>
</section>

<script>
  import { gsap } from "gsap";

  gsap.utils.toArray('[data-gsap="release"]').forEach((element, index) => {
    gsap.from(element as gsap.DOMTarget, {
      rotateX: 90,
      opacity: 0,
      ease: 'power1.out',
      scrollTrigger: {
        trigger: element as gsap.DOMTarget,
        end: 'top 66%',
        scrub: true,
      },
    });
  });
</script>
